*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app{
    background-color: #fbecef;
    align-items: center;
    justify-content: center;
}

.search-form {
    border-radius: 10px;
}

.search-result-item {
    margin: 20px;
    width: 244px;
    background-color: #fff;
    padding: 10px;
}

.search-result-item__picture-container {
    
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.search-result-item__picture {
    
    width: 100%;
    /* height: auto;
    border: solid green 5px; */
}

.search-result-item__data {
    /* font-size: 16px; */
    /* flex-grow: 1 */
}